body{
    margin: 15px;
    background-color: #80AAFF;
}
h1 {
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 2px 2px #6666FF;
}
#nombre{
    background-color:#5C45F0;
    margin: 25px 50px 25px 50px;
    padding: 5px 35px 5px 35px;
}
h2{
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 2px 2px #6666FF;
}
.Formacion{
    margin: 25px 50px 25px 50px;
    padding: 5px 5px 5px 5px;
    background-color: aquamarine;
    align-content: center;
}
.Personales{
    margin: 25px 50px 25px 50px;
    padding: 5px 5px 5px 5px;
    background-color: aquamarine;
    align-content: center;
}
.Trabajos{
    margin: 25px 50px 25px 50px;
    padding: 5px 5px 5px 5px;
    background-color: aquamarine;
    align-content: center;
}

footer{
    background-color: #6666FF;
    font-style: italic;
    text-align: center;
}